.btn-cn,
.btn-logout {
  height: 100px;
  width: 100%;
  padding: 10px;
  background: var(--white);
  color: var(--primary);
  font-size: 1.2rem;

  border: none;
  cursor: pointer;

  &:hover {
    filter: brightness(1.1);
  }
}
.btn-logout {
  background-color: var(--dark);
  color: var(--white);
  font-weight: 500;
}

.dash-footer {
  width: 100%;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: space-between;

  .actions {
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 100%;
  }

  .refresh-box {
    max-width: 400px;
    width: 100%;
    // background-color: aquamarine;
    border-left: solid 1px var(--text-light);
    margin: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    color: var(--text-light);

    .app-refresh-text {
      font-size: 1.2rem;
      max-width: 150px;
      text-align: right;
    }

    .counter-box {
      text-align: center;
      width: 130px;
      .seconds-text {
        font-size: 3rem;
        font-weight: 500;
      }
      .label-counter {
        font-size: 1.2rem;
      }
    }
  }
  .window-info {
    color: var(--text-light);
    max-width: 700px;
    width: 100%;
    text-align: right;
    padding: 0 10px;

    display: flex;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .dash-footer {
    flex-wrap: wrap;

    .btn-cn,
    .btn-logout {
      height: 80px;
    }

    .actions {
      max-width: 100%;
    }

    .window-info {
      max-width: 50% !important;
      margin: auto;

      p {
        margin: 10px 0;
      }
    }

    .refresh-box {
      max-width: 50%;
      margin: 10px 0;
      padding: 0 10px;

      .app-refresh-text {
        max-width: 100px;
      }
    }
  }
}
