@import "../theme/index.scss";
@import "./authPage.scss";

input {
  padding: var(--lg);
  background-color: transparent;
  color: var(--text-light);
  outline: none;
  border: 2px solid var(--light);
  border-radius: var(--xl);
  cursor: pointer;

  &:focus {
    border-color: var(--primary);
    transform: scale(1.05);
  }
}

.btn {
  background-color: var(--primary);
  color: var(--white);
  padding: var(--lg);
  border-radius: var(--xl);
  width: 200px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  border: solid 2px transparent;

  &:hover {
    border-color: var(--white);
    transform: translate(-8px, -8px);
    box-shadow: var(--primary) 10px 10px 10px;
  }
  &:active {
    transform: translate(8px, 8px);
  }
}

body {
  background-color: var(--dark);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  width: 100%;
}

.app-init {
  opacity: 1;
}
.app-loading {
  opacity: 0;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
}
